@font-face {
  font-family: 'tools';
  src: url('../fonts/tools.woff2?48629930') format('woff2'),
       url('../fonts/tools.woff?48629930') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tools';
    src: url('../font/tools.svg?48629930#tools') format('svg');
  }
}
*/
 
 [class^="tools-"]:before, [class*=" tools-"]:before {
  font-family: "tools";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Logo IGN 2 couleurs */
.logo-ign-complet,
.logo-ign-couleur
{	position: relative;
    font-family: tools;
    color: #72797F;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}
.logo-ign-couleur 
{	height: 0.5em;
	line-height: 0.5em;
    vertical-align: bottom;
}
.logo-ign-complet:after,
.logo-ign-couleur:after
{	position: absolute;
	color:#97BE0D;
	left:0;
} 
.logo-ign-complet:before { content: '\e82d';  }
.logo-ign-complet:after { content: '\e82b'; }
.logo-ign-couleur:before { content: '\e82a'; }
.logo-ign-couleur:after { content: '\e82c'; }


.tools-poi:before { content: '\e800'; } /* '' */
.tools-select:before { content: '\e801'; } /* '' */
.tools-snap:before { content: '\e802'; } /* '' */
.tools-vectorlayer:before { content: '\e803'; } /* '' */
.tools-arrow:before { content: '\e804'; } /* '' */
.tools-color:before { content: '\e805'; } /* '' */
.tools-copypoly:before { content: '\e806'; } /* '' */
.tools-drawline:before { content: '\e807'; } /* '' */
.tools-drawpoly:before { content: '\e808'; } /* '' */
.tools-drawpoly-o:before { content: '\e809'; } /* '' */
.tools-layer:before { content: '\e80a'; } /* '' */
.tools-layer2:before { content: '\e80b'; } /* '' */
.tools-layerdown:before { content: '\e80c'; } /* '' */
.tools-layers:before { content: '\e80d'; } /* '' */
.tools-layerup:before { content: '\e80e'; } /* '' */
.tools-locate:before { content: '\e80f'; } /* '' */
.tools-layerstack:before { content: '\e810'; } /* '' */
.tools-measure:before { content: '\e811'; } /* '' */
.tools-measure-line:before { content: '\e812'; } /* '' */
.tools-measure-poly:before { content: '\e813'; } /* '' */
.tools-measure-poly-o:before { content: '\e814'; } /* '' */
.tools-modifyline:before { content: '\e815'; } /* '' */
.tools-modifypoly:before { content: '\e816'; } /* '' */
.tools-ol3:before { content: '\e817'; } /* '' */
.tools-help-larrow:before { content: '\e818'; } /* '' */
.tools-help-rarrow:before { content: '\e819'; } /* '' */
.tools-recherche-idee:before { content: '\e81a'; } /* '' */
.tools-recherche-poi:before { content: '\e81b'; } /* '' */
.tools-environnement-abeille:before { content: '\e81c'; } /* '' */
.tools-environnement-arbres:before { content: '\e81d'; } /* '' */
.tools-environnement-feuille:before { content: '\e81e'; } /* '' */
.tools-environnement-terre:before { content: '\e81f'; } /* '' */
.tools-ign-map:before { content: '\e820'; } /* '' */
.tools-ign-ville:before { content: '\e822'; } /* '' */
.tools-ign-voiture:before { content: '\e823'; } /* '' */
.tools-loisir-chateau:before { content: '\e824'; } /* '' */
.tools-loisir-marche:before { content: '\e825'; } /* '' */
.tools-loisir-oeil:before { content: '\e826'; } /* '' */
.tools-loisir-triomphe:before { content: '\e827'; } /* '' */
.tools-recherche-carte:before { content: '\e828'; } /* '' */
.tools-recherche-ecran:before { content: '\e829'; } /* '' */
.tools-logo-ign-seul:before { content: '\e82a'; } /* '' */
.tools-logo-ign-vert:before { content: '\e82b'; } /* '' */
.tools-logo-ign-vert-seul:before { content: '\e82c'; } /* '' */
.tools-logo-ign:before { content: '\e82d'; } /* '' */
.tools-ign-poi:before { content: '\e82e'; } /* '' */
.tools-ign-poi-o:before { content: '\e82f'; } /* '' */