
@import 'npm:@vrembem/button/dist/styles.css';
@import 'npm:@vrembem/dialog/dist/styles.css';
@import 'npm:@vrembem/drawer/dist/styles.css';
@import 'npm:@vrembem/icon-action/dist/styles.css';
@import 'npm:@vrembem/icon/dist/styles.css';
@import 'npm:@vrembem/menu/dist/styles.css';

* {
  margin:0;
  padding:0;

  user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: -moz-none;
 -webkit-user-select: none;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

:focus {
  outline: none;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
}

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/PermanentMarker-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(./fonts/RobotoCondensed-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MaterialIcons.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  overflow: hidden;
  min-height: 100%;
  margin: 0;
}

body{
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  background-color: rgb(15, 22, 20);
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  visibility: hidden;
  display: none;
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: 'Permanent Marker';
}


.hidden {
  visibility: hidden;
  display: none;
}

.invert {
  color: white;
}

.drawer-frame {
  position: absolute;
}

.dialog__close {
  position: absolute;
  right: 10px;
}

.drawer-content {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.drawer__dialog {
  background: none;
}

.background-night {
  background-color: #424242de !important;
}

button {
  border: 0px;
}

.menu__text {
  font-size: 24px;
}

.menu_button {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;

  width: 20px;
  height: 20px;

  left: 10px;
  top:40px;
}

.record-button {
  z-index: 1;
  position: absolute;

  width: 20px;
  height: 20px;

  right: 30px;
  top:40px;
}

.recording {
	background: black;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.recording.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.fullscreen-button {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;

  width: 0px;
  height: 50px;

  left: 20px;
  bottom:20px;
}



.location-button {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;

  width: 50px;
  height: 60px;

  right: 10px;
  bottom:20px;
}

.layers-button {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;

  width: 50px;
  height: 60px;

  right: 10px;
  bottom: 80px;
}

.content {
  z-index: 0;
  position: absolute;
  top: 20px;
  height: calc(100vh - 20px);
  width: 100vw;
  /*max-width: 100%;
  max-height: 100%;*/
  /*min-height: calc(100vmin - 40px);*/
  /* 80px header + 40px footer = 120px  */
  background: rgb(7, 48, 48);
}

.full-content {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  width: 100vw;
  height: calc(100vh - 20px);
  overflow-y: auto;
}

.device-info {
  z-index: 1;
  position: absolute;
  opacity: 1;
  padding: 20px;
  margin: 0px;
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 14px;
  color: rgb(187, 206, 187);
  left: 5vw;
  right: 5vw;
  top:25vh;
  max-height: 65vh;

  background-color: rgba(0, 0, 0, 0.763);
  color: white;
  
  border-width: 0px;

  display:flex;
  flex-direction: column;
  align-items: left;

  word-wrap: break-word;
  overflow: auto;

}

.large-link {
  color: white;
  font-family: Roboto Condensed;
  font-weight: 200;
  font-size: 20px;
}

.jv-dark-rightString {
  color: #66d9ef;
  display: inline-block;
  word-break: break-all;
}

.jv-dark-con {
  color: #fff;
  height: 100%;
  width: 100%;
  background: #272822;
  padding: 0px;
  margin: 0px;
  /* font-family: monospace; */
  overflow: auto;
  /* min-width: 90vw; */
  /* overflow-x: scroll; */
  /* word-break: break-word; */
}

.device-info-details {
  display: block;
  overflow-y:auto;
  overflow-x:auto;
  margin-top: 20px;
  border: white;
  border-width: 2px;
  border-style: dotted;

  font-size: 12px;

  max-height: 50vh;
}

.search-bar {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  display: flex;
  align-items: stretch;


  left: 60px;
  top:40px;
}



.search-input {
  font-size: 24px;
  height: 1em;
  max-width: calc(100vw - 120px);
  padding: 20px;
  color: black;
  font-family: 'Roboto Condensed';
  font-weight: 100;
  border-style: none;
  border-width: 0px;
  background-color: white;
  opacity: 0.65;
}

.search-input:hover,
.search-input:focus {
  opacity: 0.9;
}

.search-clear {

  color: black;
  position: absolute;
  float: right;
  right: 0px;
  top: 0px;
  padding: 7px;
  height: 1em;
  opacity: 0.6;

  font-family: 'Roboto Condensed';
  font-weight: 100;
  font-size: 24px;
}

.search-status {
  font-size: 12px;
  z-index: 2;
  display: block;
  position: fixed;
  top: 90px;
  
  opacity: 0.75;

  justify-content:left;
  color: white;
  left: 60px;
}

.search-hint {
  z-index: 2;
  display: block;
  position: fixed;
  font-size: 24px;
  
  opacity: 0.75;
  
  justify-content:left;
  
  top: 15vh;
  max-height: 40vh;
  left: 5vw;
  right: 5vw;

  /*max-width: 80vw;
  max-height: 40vh;*/
  overflow: auto;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 100;
  border-width: 0px;
  border-style: none;


  background-color: black;
  padding: 10px;
}

.hint-params {
  color: #ffe45e;
  font-size: 16px;
  font-weight: 50;
}

.hint-param-hr{
  background: linear-gradient(to right, rgba(222, 207, 207, 0.774), rgba(0, 0, 0, 0));
  height: 1px;
  border: 0px;
}


.loading-bar {

  opacity: 90%;

  z-index: 2; /* Sit on top */
  position: absolute;
  
  color: white;
  bottom: 10vh;
  top: 10vh;
  left:10vw;
  width: 75vw;

  font-family: 'Roboto Condensed';
  font-weight: 200;
  font-size: 24px;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.loading-start-button {
  width: 100%;

  margin: 10px;

  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  border-radius: 0px;
  
  font-family: 'Roboto Condensed';
  font-weight: 200;
  font-size: 24px;
}


progress::-moz-progress-bar { background: white; }
progress::-webkit-progress-value { background: white; }
progress { color: white; }


.loading-progress-bar {
  width: 100%;
  height: 8px;

  margin: 10px;

  color: white;
  background-color: grey;
  border-radius: 0px;
}


.loading-details {
  width: 100%;
  height: 40vh;
  margin: 10px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  
  border-width: 1px;
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 10px;

  resize: none;
}



*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}


textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.status-area {
  position:fixed;
  
  right: 6vw;

  top:2px;
  font-size: 15px;

  z-index: 1;
  color: white;
  
  margin: 0 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}


.green-dot {
  right:0;
  
  height: 15px;
  width: 15px;
  color: rgb(49, 77, 57);
  background-color: rgb(66, 114, 79);
  border-radius: 50%;
  border-width: 1px;
  border-color:rgb(255, 255, 255);
  display: table-cell;
  vertical-align: middle;

  margin: 0 0 0 5px;
}

.footer-logo {
  font-family: 'Permanent Marker';
  position: relative;
  top: 0px;
}

.footer-left {
  position: fixed; /* Stay in place */
  z-index: 1;
  height: 10px;
  color: rgba(192, 191, 191, 0.897);
  left: 10vw;
  bottom: 3px;
  font-size: 8px;

  margin: 0 0 0 0;
  padding: 0;
}

.footer-right {
  position: fixed; /* Stay in place */
  z-index: 1;
  height: 20px;
  color: rgba(192, 191, 191, 0.897);
  right: 5px;
  bottom: 0px;
  font-size: 8px;

  margin: 0 0 0 0;
  padding: 0;
}

@media only screen and (min-width: 550px) {
  .header {

    visibility: visible;
    display: inline;

    z-index: 0;
    background: rgb(15, 22, 20);
    height: 40px;
    color: white;
    font-family: 'Permanent Marker';
    font-size: 30px;
    margin: 0 0 0 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    line-height: 40px; /* same as height! */
  }


  .footer-left {
    height: 10px;
    left: 5px;
    bottom: 2px;
    font-size: 8px;
  }


  .footer-right {
    height: 10px;
    right: 5px;
    bottom: 2px;
    font-size: 8px;
  }

  .content {
    top: 40px;
    height: calc(100vh - 40px);
  }

  .search-bar {
    top: 60px;
  }

  .search-input{
    width: 35vw;
  }

  .search-status {
    top: calc(1em + 60px + 36px);
    left: 60px;
  }

  .status-area {
    top:12px;
    right: 2vw;
    font-size: 18px;
  }


  .green-dot {
    height: 18px;
    width: 18px;
  }



  .loading-details {
    font-weight: 100;
    font-size: 14px;
  }

}


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 20px;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    font-size: 24px;
  }

  .setup-submit {
    font-size: 24px;
    padding: 0px 24px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    font-weight: bold;
    position: absolute;
    float: right;
    right: 5px;
    top: 0px;
    opacity: 0.6;

    font-family: Roboto Condensed, sans-serif;
    font-weight: 100;
    font-size: 24px;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    opacity: 0.8;
    font-weight: 400;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }


  .fadeOut{

    animation-name: fadeOut;
    animation-duration: 2s
  }

  @keyframes fadeOut {
    to {opacity: 0; }
    from {opacity: 1;}
  }

  .modal-shadow {
    z-index: 1;
    width: 100%;
    height: 100%; /* Full height */
    position: absolute;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }


.center-modal {
  z-index: 1; /* Sit on top */

  margin:0;
  position: absolute;
  left: 0;
  right:0;
  top: 8vh;
  bottom: 0;
  
  display:flex;
  flex-direction: column;
  align-items: center;

}

.rainbows {
  z-index: 3; /* Sit on top */
  text-align: center;

  margin: 0;
  
  font-family: 'Permanent Marker';
  font-size: 20vmin;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;

  animation: rainbowIn 2s ease-in
}

.rainbow-busy {
  animation: rainbowShift infinite 10s linear
}

@keyframes rainbowIn {
  from {opacity: 0; font-size: 5px;
    text-shadow: 0px 0px #ef3550,
                 0px 0px #f48fb1,
                 0px 0px #7e57c2,
                 0px 0px #2196f3,
                 0px 0px #26c6da,
                 0px 0px #43a047,
                 0px 0px #eeff41,
                 0px 0px #f9a825,
                 0px 0px #ff5722;
  } 
  to {opacity: 1; font-size: 20vmin;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
  } 
}

@keyframes rainbowOut {
  to {opacity: 0; font-size: 5px;
    text-shadow: 0px 0px #ef3550,
                 0px 0px #f48fb1,
                 0px 0px #7e57c2,
                 0px 0px #2196f3,
                 0px 0px #26c6da,
                 0px 0px #43a047,
                 0px 0px #eeff41,
                 0px 0px #f9a825,
                 0px 0px #ff5722;
  } 
  from {opacity: 1; font-size: 20vmin;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
  }
}

  @keyframes rainbowShift {
    from {opacity: 1; font-size: 20vmin;
      text-shadow: -4px 4px #ef3550,
          -8px 8px #f48fb1,
          -12px 12px #7e57c2,
          -16px 16px #2196f3,
          -20px 20px #26c6da,
          -24px 24px #43a047,
          -28px 28px #eeff41,
          -32px 32px #f9a825,
          -36px 36px #ff5722;
    }
    25% {font-size: 20vmin;
      opacity: 0.70;
      text-shadow: 4px 4px #ef3550,
          8px 8px #f48fb1,
          12px 12px #7e57c2,
          16px 16px #2196f3,
          20px 20px #26c6da,
          24px 24px #43a047,
          28px 28px #eeff41,
          32px 32px #f9a825,
          36px 36px #ff5722;
    }
    50% {
        opacity: 1;
        font-size: 20vmin;
        text-shadow: 4px -4px #ef3550,
        8px -8px #f48fb1,
        12px -12px #7e57c2,
        16px -16px #2196f3,
        20px -20px #26c6da,
        24px -24px #43a047,
        28px -28px #eeff41,
        32px -32px #f9a825,
        36px -36px #ff5722;
  }
  75% {
      opacity: 0.7;
      font-size: 20vmin;
      text-shadow: -4px -4px #ef3550,
      -8px -8px #f48fb1,
      -12px -12px #7e57c2,
      -16px -16px #2196f3,
      -20px -20px #26c6da,
      -24px -24px #43a047,
      -28px -28px #eeff41,
      -32px -32px #f9a825,
      -36px -36px #ff5722;
  }
  to {opacity: 1; font-size: 20vmin;
    text-shadow: -4px 4px #ef3550,
        -8px 8px #f48fb1,
        -12px 12px #7e57c2,
        -16px 16px #2196f3,
        -20px 20px #26c6da,
        -24px 24px #43a047,
        -28px 28px #eeff41,
        -32px 32px #f9a825,
        -36px 36px #ff5722;
  }
}
